@font-face {
    font-family: 'Kumbh Black';
    src: url('./assets/fonts/KumbhSans-Black.woff2') format('woff2'),
        url('./assets/fonts/KumbhSans-Black.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Regular';
    src: url('./assets/fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/KumbhSans-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Bold';
    src: url('./assets/fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('./assets/fonts/KumbhSans-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

//Colors 
$primaryOrange : hsl(26, 100%, 55%);
$secondaryOrange : hsl(25, 100%, 94%);
$darkBlue : hsl(220, 13%, 13%);
$darkGrayishBlue : hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black : hsl(0, 0%, 0%);

//Font


.App{
    padding-bottom : 3rem;
}
.navBar{
    display: flex;
    flex-direction: row;
    padding-block : 1.5rem;
    padding-inline: 1.5rem;
    justify-content: space-between;
    align-content: center;
}

.navBar> * {
    display : flex;
    flex-direction: row;
    gap : 1rem;
    flex-wrap : wrap;
    align-content: center;
    cursor : pointer;
}
.icon-menu{
    height: 1rem;
    align-self: flex-end;
}
.logo{
    height: 1.2rem;
}
.icon-cart{
    height: 1.3rem;
    align-self: center;

}
.avatar{
    height: 2rem;
}

.link {
    display : none;
}
.container{
    display: grid;
    gap : 1.7rem;
    grid-template-columns: 1;
}

.product-image{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block:  40%;
}

.product-desktop{
    display: none;
}
.arrows{
    display : flex;
    justify-content: space-between;
    padding-inline : 3%;
}

.arrows >img{
    aspect-ratio: 1;
    color:$black;
    background-color: $white;
    padding :0.9rem;
    border-radius: 50%;
}

.product-infos{
    padding-inline: 1.5rem;
    display: grid;
    gap:1rem;
}

.company-name{
    font-family: 'Kumbh Regular';
    font-size :0.8rem;
    letter-spacing: 0.07rem;
    font-weight: 900;
    color : $primaryOrange;
}

.product-teaser{
    font-family: 'Kumbh Bold';
    font-size: 2.1rem;
    font-weight: bolder;
    line-height: 2.3rem;

    color : $black;
}

.product-desc{
    font-family: 'Kumbh Regular';
    font-size: 0.9rem;
    color : $darkGrayishBlue
}

.pricing{
    display : flex;
    justify-content: space-between;
    align-items: center;    
}

.pricing>h5{
    font-family: 'Kumbh Bold';
    font-size: 1rem;
    color:$grayishBlue;
    text-decoration:line-through;
}

.original-price{
    display: flex;
    gap :1rem;
    align-items: center;    


}
.original-price h4{
    font-family: 'Kumbh Bold';
    font-size: 1.7rem;
    font-weight: bolder;
    color : $black;
    height: fit-content;

}

.original-price h5{
    font-family: 'Kumbh Bold';
    font-size: 1rem;
    color:$primaryOrange;
    padding-inline : 0.5rem;
    background-color:$secondaryOrange;
    border-radius : 20%;
    margin : 0;
    height: fit-content;
}

.order-quantity{
    display :flex;
    justify-content: space-between;
    background-color: $lightGrayishBlue;
    border-radius : 0.7rem;
    align-items: center;
    padding-inline: 1.4rem;
}
.order-quantity input{
    font-family: 'Kumbh Bold';
    width : 20%;
    padding-left: 1rem;
    font-size: 1.1rem;
    align-self: center;
    border :none;
    background-color: $lightGrayishBlue;
    padding-block: 1rem;
  
}

.order-quantity>img:first-child{
    width : 0.9rem;
    height: 0.3rem;

    align-self: center;
    justify-self: center;
}

.order-quantity>img:last-child{
    width : 0.8rem;
    height: 0.7rem;
}

.add-cart{
   display: flex;
   justify-content: center;
   align-items: center;
   gap : 1.3rem;
   padding-block: 1rem;
   border: none;
   background-color: $primaryOrange;
   color : $white;
   font-family: 'Kumbh Bold';
   font-size: 0.9rem;
   border-radius: 0.7rem;
   cursor: pointer;
   transition : all 200ms

}

.add-cart:hover{
    color: $primaryOrange;
    background-color: $lightGrayishBlue;

}

.cart-popup{
    visibility: hidden;
    position : absolute;
    background-color: white;
    display : grid;
    gap : 1.5rem;
    padding :1.5rem;
    top : 6rem;
    right : 7rem;
    transform: translateY(-200%);
    transition: all 400ms ease-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cart-popup> h5{

    font-family : 'Kumbh Regular';
    border-bottom : solid 1px $grayishBlue ;
    padding-bottom: 1.3rem;
}

.cart-popup button{
    padding-inline : 7rem;
}
.cart-productdetails{
    display : grid ;
    grid-template-columns: 20% auto 8%;
    gap :1rem;
    align-items: center;
}
.cart-productdetails img{
    border-radius : 0.5rem
}
.details-text{
    color : $darkGrayishBlue;
    font-family: 'Kumbh Regular';
  
}

.cart-popup[data-visible="true"]{
    visibility: visible;
    transform: translateX(0%);
}



@media(min-width : 1200px){
    .App{
        padding-inline : 10%;

    }
    .amount-button:first-child{
        align-self: center;
        padding-inline : 5px;
        padding-block : 4px;
        cursor : pointer;
    }
    
    .navBar{
        border-bottom : solid 1px $grayishBlue;
        margin-bottom : 4rem;
        padding-inline : 0;
        padding-block : 2rem;
    }
    .navBar> * {
     
        gap : 3rem;
      
    } 
    
    .icon-menu{
        display : none
    }
    .avatar{
        height: 3rem;
    }
    .link {
        display : block;
        font-family : 'Kumbh Regular';
        color : $darkGrayishBlue;
        font-size : 1rem;
        transition: color 250ms;
    }
    .link:hover{
        color : $primaryOrange;

    }
    .product-desktop{
        display : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        gap : 7%;
        
    }
    .product-desktop>img{
        border-radius: 0.5rem;
    }

    .product-desktop>img:active{
        border : solid 2px $primaryOrange;
        filter: opacity(30%);

    }

    .arrows{
        display: none;
    }
    .product-image{
        padding-block:  50%;
        border-radius : 1rem;
       
    }
    .container{
        padding-inline: 2rem;
        grid-template-columns: 40% auto;
        gap :6rem;
        align-items:flex-start;
    }
    .image-container{
        align-self: center;
        display : grid;
        gap:2rem;
    }
    .product-infos{
        padding-block : 4rem;
        padding-inline-end: 0;
        gap : 1.7rem;
    }
    .company-name{
        font-size: 1.3rem;
    }
    .product-teaser{
        font-size : 3rem;
        line-height:  3rem;
        margin-bottom : 2rem;
    }

  
    .pricing{
        display: grid;
    }
    .order{
        display : grid;
        grid-template-columns: 35% auto;
        gap : 1rem;
 
    }

    .order-quantity{
     
        height: fit-content;

        padding-block : 1rem;
        padding-inline: 1.4rem;
    }

    .order-quantity input{
       
        width : 50%;
        padding-left: 1rem;
        font-size: 1rem;
        padding-block: 0;
       
      
    }
    .add-cart{
        height : fit-content;
        padding-block: 1rem;
      
     }    
     

}
    
  